# Dependency directories
node_modules/
# Optional npm cache directory
.npm/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.env.*

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build and distribution
dist/
build/
coverage/
*.tgz
.DS_Store # macOS system files

# Editor and IDE files
.vscode/ # VSCode settings and user data
.idea/ # IntelliJ IDEA project settings
.editorconfig

# NPM and Yarn artifacts
pnpm-debug.log*
pnpm-lock.yaml

# Runtime artifacts
*.orig

# Additional project-specific ignores
# Add any other files or folders here that are specific to your project
