services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    image: tufailkarim/ecommerce-product-service:latest
    container_name: product-service
    restart: always
    env_file:
      - ./.dev.env
    depends_on:
       db:
         condition: service_healthy
    ports:
      - "8080:8080"
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: product-db
    env_file:
      - ./.dev.env
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${DB_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
