services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    image: tufailkarim/ecommerce-product-service:latest
    container_name: product-service
    env_file:
      - ./.dev.env
    restart: always
    ports:
      - "${PORT}:8080"
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: product-db
    env_file:
      - ./.dev.env
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
