version: "3.9"

services:
  user-service:
    build:  .
      container_name: user-service
      restart: always
      ports:
        - "3000:3000"
      environment:
        - MongoDB_URI=mongodb://mongo:27017/userdb
      depends_on:
        - mongo
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=userdb
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data: